*{
    box-sizing:border-box;

    /* 禁止手机长按选择文字 */
    -webkit-user-select:none;
    user-select:none;

    /* 禁止长按弹出菜单 */
    -webkit-touch-callout:none;
}


html,body{

    width:100%;
    height:100%;
    margin:0;
    padding:0;

}


body{

    min-height:100vh;

    background:
    linear-gradient(
    135deg,
    #ffd6e0,
    #fff0f5
    );


    font-family:
    "Microsoft YaHei",
    sans-serif;


    display:flex;

    justify-content:center;

    align-items:center;


    overflow:hidden;

}





/* 页面容器 */

.page{


    display:none;


    width:88%;

    max-width:420px;


    min-height:65vh;


    padding:30px;


    background:white;


    border-radius:25px;


    text-align:center;


    box-shadow:
    0 10px 30px rgba(0,0,0,.12);


    position:relative;


    z-index:5;


    animation:
    fade .5s ease;


}





.page.active{


    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;


}





/* 图片 */


.photo{


    width:150px;


    height:150px;


    border-radius:50%;


    object-fit:cover;


    margin-bottom:20px;


}





h1{


    color:#ff6688;


    font-size:26px;


}





p{


    color:#555;


    font-size:17px;


    line-height:2;


}





/* 所有按钮 */

button{


    position:relative;


    z-index:999;


    pointer-events:auto;


    -webkit-tap-highlight-color:transparent;



    margin:10px;


    padding:12px 25px;


    border:none;


    border-radius:30px;


    background:#ff8fab;


    color:white;


    font-size:16px;


}





button:active{


    transform:scale(.95);


}





#hao{


    background:#ff6688;


}





/* 逃跑按钮 */


#buhao{


    transition:
    all .3s ease;


}





/* 弹窗 */


#popup{


    display:none;


    position:fixed;


    z-index:9999;


    left:0;


    top:0;


    width:100%;


    height:100%;


    background:
    rgba(0,0,0,.35);


}





.popup-box{


    width:75%;


    max-width:350px;


    background:white;


    border-radius:25px;


    padding:30px;


    position:absolute;


    left:50%;


    top:50%;


    transform:
    translate(-50%,-50%);


    text-align:center;


}





.popup-box button{


    background:#ff6688;


}





/* 翻页动画 */


@keyframes fade{


    from{

        opacity:0;

        transform:
        translateX(40px);

    }


    to{

        opacity:1;

        transform:
        translateX(0);

    }

}





/* 微信手机适配 */


@media(max-width:600px){


    .page{


        width:88%;


        min-height:70vh;


        padding:25px;


    }



    .photo{


        width:130px;


        height:130px;


    }



    h1{


        font-size:23px;


    }



    p{


        font-size:16px;


        line-height:1.8;


    }



    button{


        width:85%;


        height:45px;


        font-size:16px;


    }

}
