*{

box-sizing:border-box;

-webkit-user-select:none;

user-select:none;

-webkit-touch-callout:none;

}



body{


margin:0;

width:100%;

height:100vh;


background:

linear-gradient(
135deg,
#ffd6e0,
#fff0f5
);



font-family:

"Microsoft YaHei",
sans-serif;


display:flex;

justify-content:center;

align-items:center;


overflow:hidden;


}





.page{


display:none;


width:88%;

max-width:420px;


min-height:65vh;


padding:30px;


background:white;


border-radius:25px;


text-align:center;


box-shadow:

0 10px 30px rgba(0,0,0,.12);


position:relative;


animation:fade .5s;


}



.page.active{


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


}



.photo{


width:150px;

height:150px;


border-radius:50%;


object-fit:cover;


margin-bottom:20px;


}



h1{


color:#ff6688;


font-size:26px;


}



p{


font-size:17px;


color:#555;


line-height:2;


}





button{


position:relative;


z-index:10;


margin:10px;


padding:12px 25px;


border:none;


border-radius:30px;


background:#ff8fab;


color:white;


font-size:16px;


-webkit-tap-highlight-color:transparent;


}



button:active{

transform:scale(.95);

}



#hao{

background:#ff6688;

}





/* 两个按钮区域 */

.button-area{


position:relative;


width:100%;


height:120px;


display:flex;


justify-content:center;


align-items:center;


}




#buhao{


transition:

all .3s ease;


}





/* 弹窗 */


#popup{


display:none;


position:fixed;


z-index:999;


top:0;


left:0;


width:100%;


height:100%;


background:

rgba(0,0,0,.35);


}





.popup-box{


width:75%;


max-width:350px;


background:white;


border-radius:25px;


padding:30px;


position:absolute;


top:50%;


left:50%;


transform:

translate(-50%,-50%);


text-align:center;


}





.popup-box p{


color:#ff6688;


font-size:18px;


}





@keyframes fade{


from{


opacity:0;


transform:translateX(40px);


}


to{


opacity:1;


transform:translateX(0);


}


}




@media(max-width:600px){


.page{


width:88%;


padding:25px;


}



.photo{


width:130px;

height:130px;


}



h1{


font-size:23px;


}



p{


font-size:16px;


line-height:1.8;


}



button{


width:85%;


height:45px;


}


}
